<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Counts</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            color: #333;
        }
        #catServerCount, #dogServerCount {
            font-size: 18px;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h1>Server Counts</h1>
<div id="catServerCount">Cat Server Count: {{ cat_server_count }}</div>
<div id="dogServerCount">Dog Server Count: {{ dog_server_count }}</div>

</body>
</html>